/* mainstyle.css */
<<<<<<< HEAD
body {font-family: 'Quicksand', sans-serif;}
h1,h2,h3 {font-family:'Cabin Condensed', sans-serif;line-height:.2em;}h1 {font-size:5em;color:#4f4f4f;}h2 {font-size:3em;color:#989898;}h3 {font-size:2em;color:#D0D0D0;}
p {font-size:1em;color:black;} .full {text-indent:30px;}
button {-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;box-shadow:inset 0px 1px 0px 0px #ffffff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');background-color:#ededed;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #dcdcdc;display:inline-block;color:#777777;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:1px 1px 0px #ffffff;}
button:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');background-color:#dfdfdf;}button:active {position:relative;top:1px;}
input{width:200px; height:18px; border-radius:5px;} input:focus {border: 1px solid #87CEEB; -webkit-box-shadow: 0px 0px 3px #87CEEB;-moz-box-shadow:0px 0px 3px #87CEEB;box-shadow:0px 0px 3px #87CEEB;}
img {margin:10px; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 3px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 3px rgba(50, 50, 50, 0.75);}
#wrapper {position:relative;top:30px;width:960px;height:1000px;margin:0px auto;border:1px dashed grey;}
#logo {height:100px;width:300px;background:url('file://localhost/Users/Anthony/Desktop/maid_app/img/logo_rev_1.png'); -webkit-transition: background-position .1s ease-in;-webkit-transition: background-position .1s ease-in;-webkit-transition: background-position .1s ease-in;float:left;}
#logo:hover {background-position:0px -5px;-webkit-transition: background-position .2s ease-in;-webkit-transition: background-position .2s ease-in;-webkit-transition: background-position .2s ease-in;float:left;}
#navigation{position:relative;font-size:1.5em;font-weight:300;float:left;text-decoration:none;}
#navigation div{margin:71px 0px 0px 20px;cursor:pointer;float:left;}
#navigation span:hover{text-decoration:underline;}
#home_nav{width:165px;background:url('file://localhost/Users/Anthony/Desktop/maid_app/img/home.png')no-repeat right;}
#content {position:absolute;top:110px;height:100%;width:100%;}
.nav_drop {position:absolute;background-color:white;opacity:1;z-index:100;top:35px;font-size:.7em;border:1px solid grey;border-radius:10px;}.nav_drop p{padding:5px;}.nav_drop p:hover {text-decoration:underline;}#schedule_nav {display:none;line-height:0em;}#employees_nav {display:none;line-height:0em;}#reports_nav {display:none;line-height:0em;}#footer p{font-size:.8em;padding:25px;text-align:center;z-index:-1;float:none;}
=======
body {
margin:0px;
padding:0px;
font-family:'Cabin Condensed', sans-serif;
}
header {
position:fixed;
top:0;
height:40px;
padding:12px 0;
background:black;
width:100%;
z-index:100;
-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.75);
}
#logo {
width:940px;
margin:0px auto;
}
#wrapper {
position:relative;
top:45px;
width:960px;
margin:0px auto;
}
#main_content {
padding:0px;
margin:0px;
}
#main_content img{
float:left;
margin:15px 30px 15px 15px;
-webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.75);
}
#tour_demo{
position:absolute;
top:425px;
left:453px;
width:180px;
height:60px;
opacity:.5;
background:#4f4f4f;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-topleft: 20px;
border-top-left-radius: 20px;
-webkit-transition: opacity .5s linear;
}
#tour_demo p {
text-align:right;
font-size:1.82em;
color:white;
margin:0px;
margin-top:14px;
}

#tour_demo:hover {
opacity:.8;
-webkit-transition: opacity .5s linear;
}

h1 {
position:relative;
top:10px;
margin:5px;
margin-bottom:-30px;
font-weight:700;
font-size:5em;
color:#4f4f4f;
text-align:center;
}
h2 {
font-weight:700;
font-size:3.4em;
color:#999;
line-height:.9em;
text-align:center;
margin-bottom:5px;
}
h3 {
text-align:center;
font-size:2.5em;
margin-bottom:-30px;
}
h4 {
text-align:center;
font-size:1.5em;
margin-bottom:-15px;
}
input {
width:210px;
height:20px;
border-radius:5px;
margin:5px;
}
button {
background:#1B91E0;
margin:5px;
padding:6px;
border-radius:5px;
color:white;
font-size:1.2em;
-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.75)
}
bdi {
color: #ffd79d;
font-size:1.1em;
}
/*#features {
float:left;
width:230px;
border:1px dashed red;
}*/
p {
text-indent:20px;
}
li {
padding-left:-20px;
list-style-type:circle;
}
#prices h2 {
margin-top:-20px;
}
.pricing{
margin-top:-40px;
width:32%;
padding:.6%;
float:left;
}
.pricing p,ul{
color:#4f4f4f
}
.pricing button {
margin-left:75px;
}
>>>>>>> 18cd93c4b7e105a10e058df19d434a7117b5c029
